aside {
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  max-width: 80%;
  height: 100vh;
  background: #555;
  box-shadow: 0 0 1em rgba(0,0,0,0.7);
  padding: 1em;
  z-index: 10;
  transition: all 0.4s;
}

:host([hidden]) {
  display: block;
}

:host([hidden]) aside {
  left: -31rem;
  pointer-events: none;
}

.backdrop {
  transition: all 0.4s ease-in;
}

:host([hidden]) .backdrop {
  opacity: 0;
  pointer-events: none;
}